[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
xgboost = "*"
tqdm = "*"
pyarrow = "*"
requests = "*"
codecarbon = "*"
mlflow = "*"
scikit-learn = "*"
fastapi = "*"
uvicorn = "*"
dvc = "*"

[dev-packages]
pytest = "*"
exceptiongroup = "*"

[requires]
python_version = "3.10"
